# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn-error.log

# Build
dist
build
*.log

# Development
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test
coverage
.nyc_output

# Data
.pgdata
.minio
data
.logs

# Published artifacts
*.tgz
webapp
